---
---

@import "{{ site.theme }}";

/* Doc Tip pages should be space efficient as they are iframed 
 * from the web app. */
.doctip-wrapper{
    position: absolute;
    top:10px;
    left: 10px;
}

.doctip-wrapper h1{
    margin-bottom:3px;
}

.doctip-wrapper p{
    font-size: 16pt;
}

.doctip-wrapper footer{
    position: relative;
    bottom: 0;
}

// Architecture list on the sidebar
header ul{
    list-style: none;
    border: none;
    background-color: inherit;
    position: relative;
    top: 0;
    right: 0;
}

header li{
    border: none;
    float: left;
    clear: left;
    width: 100%;
    margin-left: 10px;
}

header ul a{
    text-align: left;
    font-size: 1.25em;
}

header ul li + li + li {
    width: 100%;
}

header ul li.inner{
    position:relative;
    left: 15px;
}

#arch-header{
    margin-bottom: 5px;
}

